@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {
  overflow-x: hidden;
  /* This prevents content from going overs- important */
  font-family: 'Josefin Sans', sans-serif;
  color: #626d77;
}

.offset:before {
  /* prevents cutting off the top with navbar navigation */
  display: block;
  content: "";
  height: 4.5rem;
  margin-top: -4.5rem;
}

.offset:before {
  /* prevents cutting off the top with navbar navigation */
  display: block;
  content: "";
  height: 4.5rem;
  margin-top: -4.5rem;
}

/* Navigation */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
  /* needs the important to override the bg-dark class */
}
.navbar-brand h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin: -0.1 auto;
  text-transform: capitalize;
}
.navbar-brand h2:hover {
  color: #65c3ba;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #65c3ba;
}
.navbar-dark .navbar-nav .nav-current {
  color: #65c3ba;
}
